@import "tailwindcss";

@keyframes star-movement-top {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes star-movement-bottom {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.animate-star-movement-top{
    animation: star-movement-top linear infinite;
}

.animate-star-movement-bottom{
    animation: star-movement-bottom linear infinite;
}